
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}

@layer utilities {
  .glass-morphism {
    @apply bg-white/70 backdrop-blur-md border border-white/20;
  }
  
  .text-balance {
    text-wrap: balance;
  }
}

.hero-image {
  background-image: linear-gradient(rgba(4, 24, 76, 0.7), rgba(4, 24, 76, 0.7)),
    url('images/ocean.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
